@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("images/fond_jaune.png");
  font-family: "Raleway", Arial, sans-serif;
}

#pageprincipale {
  width: 1340px;
  margin: auto; /*pour centrer la page*/
}

/*responsive smartphone*/
@media all and (max-width: 430px) {
  body {
    border: solid rgb(145, 41, 75) 1px;
  }

  body #pageprincipale {
    width: auto;
  }

  header {
    display: inherit;
    display: flex;
    flex-direction: column;
    /*border: 1px solid green;*/
  }

  header img {
    margin-top: 5px;
    margin-left: 25px;
    height: 37px;
  }

  /*nav {
    border: 0.5px solid red;
  }*/

  nav a {
    color: #0065fc;
    border-top-style: none !important; /*removing top border */
  }

  nav ul {
    display: none;
    margin-top: 50px;
  }

  nav li {
    display: inline-block;
    position: relative;
  }

  /*menu principal : onglets hébergement et activités*/
  .heberg_acti {
    font-size: small;
    text-align: center;
    color: black;
    width: 94.3%;
    opacity: 0.8;
    padding: 0px 15px 10px;
    border-bottom: 3px solid #aca3a3;
  }

  /*classe du li contenant l'onglet activité*/
  .headMenu {
    left: -20px;
    width: 60%;
  }

  .headMenuH {
    width: 60%;
    left: -40px;
  }

  .heberg_acti:hover {
    color: #0065fc;
    border-bottom: solid 3px #0065fc;
  }

  .sinscrire {
    display: inline-block;
    position: absolute;
    padding: inherit;
    margin-top: -53px;
    margin-left: -105px;
    font-weight: bold;
  }

  .h1_apres_logo {
    margin-top: 30px;
    margin-left: 35px;
    width: 70%;
    font-weight: bold;
  }

  .enPlenCville {
    margin-left: 35px;
    margin-bottom: 12px;
  }

  .box {
    border: none !important;
    margin-left: 35px;
  }

  .box form {
    display: flex;
    width: auto;
  }

  .box img[alt="icone_map"] {
    width: 10px;
    border: 1px solid transparent;
    border-radius: 9px 0px 0px 9px;
    padding: 8px 9px;
    background-color: #f2f2f2;
  }

  input[type="text"] {
    height: 55px;
    width: 192px;
    border: 1.5px solid #f2f2f2;
    border-right: none !important;
    padding-left: 15px;
    margin-right: 0px;
  }

  form input[type="submit"] {
    height: 29.7px;
    width: 15px;
    border-radius: 9px;
    color: transparent; /*texte "rechercher" effacer*/
    background-color: #0065fc;
    padding: 5px 15px 7px;
  }

  form .ico_search {
    color: inherit;
    margin-left: -23px;
    margin-top: 5.5px;
    color: white;
  }

  div .filtre {
    /*background-color: khaki;*/
    height: inherit !important;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: auto;
  }

  .filtre .texte_filtre {
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: bold;
  }

  .filtre ul {
    /*background-color: lawngreen;*/
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7px;
  }

  .filtre li {
    height: 13%;
    margin-left: -5px;
  }

  .filtre li a {
    font-size: 0.9em;
  }

  .li_economic {
    width: 31%;
    display: inline-block;
    position: relative;
  }

  .li_familial {
    width: 20.7%;
    display: inline-block;
    position: relative;
    left: 157px;
    top: -47px;
  }

  .li_romantic {
    width: 31%;
    display: inline-block;
    position: relative;
    top: -47px;
  }

  .li_animals {
    width: 42.5%;
    display: inline-block;
    position: relative;
    top: -47px;
  }

  .plusDe500Logem {
    /*border: 1px solid beige;*/
    margin-top: -35px;
    margin-left: 32px;
  }

  .text_plusDe500 {
    font-style: normal;
    margin-top: 3px;
  }

  #section1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  #section1 > aside {
    margin-top: 38px;
    background-color: #f2f2f2;
    border-radius: 0px;
    border: 1px solid transparent;
    width: auto;
    height: 615px;
  }

  aside .text_lesPlusPop {
    font-size: large;
    width: 60%;
    margin-left: 35px;
    margin-top: 45px;
    margin-bottom: 0px;
  }

  aside .div_LinkHotel2 {
    display: block;
    position: relative;
    top: -74px;
    margin-bottom: 0px;
  }

  aside .link_divHotel3 {
    display: block;
    position: relative;
    top: -147px;
    margin-bottom: 0px;
  }

  aside .ico_chartLine {
    margin-right: 45px;
  }

  .aside_hebergement div {
    margin-left: auto;
    margin-right: auto;
  }

  aside .blocs_aside h2 {
    display: inline-block;
    position: relative;
    font-size: medium;
    font-weight: bolder;
    top: -143px;
    left: 35px;
  }

  .blocs_aside .TxtHotSoleil {
    left: 22px;
  }

  .blocs_aside .TxtHotToutBleu {
    left: 30px;
  }

  .aside_hebergement div p {
    display: inline-block;
    position: relative;
    top: -63px;
    left: 25px;
  }

  .blocs_aside .paragWith128 {
    left: 20.5px;
  }

  .blocs_aside .paragWith71 {
    left: 22px;
  }

  .strongEuroAside {
    margin-right: -15px;
  }

  .bloc_etoiles_aside span {
    display: inline-block;
    position: relative;
    right: -24px;
    top: -65px;
  }

  #section1 {
    height: auto;
  }

  #section1 > #section_hebergement {
    width: 90%;
    height: auto;
    background-color: white;
    border: rgb(73, 119, 27) 1px dashed;
  }

  article a {
    width: 92.5%;
  }

  /*conteneur principal de tous les div*/
  #section1 .article_hebergement {
    width: 90%;
    height: inherit;
    margin-left: 35px;
    margin-top: 25px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  #section1 .article_hebergement div {
    width: 100%;
    box-shadow: 1px 3px 6px #aca3a3;
  }

  #section_hebergement > h2 {
    font-size: large;
    margin-bottom: -6px;
  }

  .activite-hebergement_titles {
    font-size: large;
    margin-top: 45px;
    margin-left: 37px;
  }

  #section_activité {
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    border: rgb(73, 119, 27) 1px dashed;
  }

  #section_activité > h2 {
    font-size: large;
  }

  /*toute la section activité*/
  #section_activité #divs_activites {
    display: none; /*pour annuler son display:Grid*/
  }

  #section_activité #divs_activites {
    height: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #divs_activites > .activite6 {
    margin-top: 1px;
  }

  #divs_activites div {
    margin-bottom: -15px;
    height: 200px;
    width: 85.6%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    box-shadow: 1px 3px 6px #aca3a3;
  }

  #divs_activites img {
    height: 75%;
  }

  footer {
    margin-top: 0px;
    padding: 25px 0px 25px 35px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer .aPropos,
  .nosHebergement,
  .assistance {
    margin-left: inherit;
    margin-right: -350px;
  }
}
/*fin responsive-Smartphone1*/

@media all and (min-width: 397px) and (max-width: 480px) {
  #section1 > aside {
    margin-top: 38px;
    background-color: #f2f2f2;
    border-radius: 0px;
    width: auto;
    height: 615px;
  }

  .heberg_acti {
    display: block;
    position: absolute;
    margin-left: -505px;
    width: 45%;
    font-size: small;
    text-align: center;
    margin-top: 105px;
    color: black;
    opacity: 0.8;
    padding: 0px 15px 10px;
    border-bottom: 3px solid #aca3a3;
  }

  .li_familial {
    width: 18.5%;
    display: inline-block;
    position: relative;
    left: 172px;
    top: -46px;
  }

  /*classe du li contenant l'onglet activité*/
  .headMenu {
    margin-right: -642px;
  }

  .headMenuH {
    margin-left: -22.8px;
  }

  aside .text_lesPlusPop {
    font-size: large;
    width: 60%;
    margin-left: 35px;
    margin-top: 45px;
    margin-bottom: 0px;
  }

  aside .div_LinkHotel2 {
    display: block;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
  }

  aside .link_divHotel3 {
    display: block;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
  }

  aside .ico_chartLine {
    margin-right: 45px;
  }

  .aside_hebergement div {
    margin-left: auto;
    margin-right: auto;
  }

  aside .blocs_aside h2 {
    display: inline-block;
    position: relative;
    font-size: medium;
    font-weight: bolder;
    top: 0px;
    left: 35px;
  }

  .blocs_aside .TxtHotSoleil {
    left: 22px;
  }

  .blocs_aside .TxtHotToutBleu {
    left: 30px;
  }

  .aside_hebergement div p {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 25px;
  }

  .bloc_etoiles_aside span {
    display: inline-block;
    position: relative;
    right: -24px;
    top: 0px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  #pageprincipale {
    width: auto;
  }

  div .box {
    display: flex;
    /*border: brown 1px dotted;*/
    width: 45%;
    height: 29.5px;
  }

  .filtre {
    display: flex;
    margin-top: 15px;
    height: 65px;
  }

  .filtre p {
    margin-top: 22px;
    font-weight: bold;
  }

  .filtre ul {
    display: flex;
  }

  .filtre a {
    color: black;
    opacity: 0.8;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
  }

  #section1 {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #section1 > #section_hebergement {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
  }

  #section1 .article_hebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  #section1 .article_hebergement div {
    width: 100%;
    box-shadow: 1px 3px 6px #aca3a3;
  }

  #section1 > aside {
    margin-top: 38px;
    background-color: white;
    border-radius: 0px;
    width: auto;
    height: 615px;
  }

  aside #aside_content {
    display: flex;
    flex-direction: column;
  }

  aside .blocs_aside {
    box-shadow: 1px 3px 6px #aca3a3;
  }

  /*Conteneurs de l'aside*/
  aside a {
    display: block;
    position: relative;
    left: 24px;
  }

  aside .ico_chartLine {
    margin-right: 70px;
  }

  aside .text_lesPlusPop {
    margin-left: 65px;
  }

  aside .blocs_aside h2 {
    display: inline-block;
    position: relative;
    font-size: medium;
    font-weight: bolder;
    top: 10px;
    left: 15px;
  }

  aside .blocs_aside p {
    display: inline-block;
    position: relative;
    bottom: -25px;
  }

  aside .blocs_aside .TxtHotSoleil {
    left: 0px;
  }

  aside .blocs_aside .TxtHotToutBleu {
    left: 7px;
  }

  aside .div_LinkHotel2 h2 {
    left: 13px;
  }

  aside .link_divHotel3 p {
    left: 3.5px;
  }

  aside .blocs_aside img {
    width: 50%;
  }

  #section_activité #divs_activites {
    display: none;
  }

  #section_activité #divs_activites {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #divs_activites > .activite6 {
    margin-top: 1px;
  }

  #divs_activites div {
    margin-bottom: -15px;
    height: 200px;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    box-shadow: 1px 3px 6px #aca3a3;
  }

  #divs_activites img {
    height: 75%;
  }

  #section_activité h2 {
    margin-left: 20px;
    color: black;
  }

  footer {
    margin-top: 100px;
    padding: 25px 0px 25px 35px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer .aPropos,
  .nosHebergement,
  .assistance {
    margin-left: inherit;
    margin-right: 35px;
  }
} /*fin du responsive Ipad*/

header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

.sinscrire:visited {
  color: #0065fc;
}

#section1 a:visited,
.aside_content a:visited,
footer a:visited {
  color: black;
}

nav {
  font-size: 14px;
  margin-top: -22px;
}

header span {
  margin-top: 17px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #0065fc;
  display: block;
  padding: 40px 15px;
  border-top: 2px solid transparent;
}

/*menu principal : onglets hébergement et activités*/
.heberg_acti {
  color: black;
  opacity: 0.8;
}

.heberg_acti:hover {
  color: #0065fc;
  border-top: solid 2px #0065fc;
}

.sinscrire {
  font-weight: bold;
}

.h1_apres_logo {
  font-size: large;
  font-weight: bold;
}

.box {
  display: flex;
  border: brown 1px dotted;
  width: auto;
  height: 29.5px;
}

img[alt="icone_map"] {
  width: 8px;
  border: 1px solid transparent;
  border-radius: 9px 0px 0px 9px;
  padding: 4px 9px;
  background-color: #f2f2f2;
}

input[type="text"] {
  height: 25.3px;
  border: 1px solid #f2f2f2;
  padding-left: 15px;
  font-family: "Raleway";
  text-transform: capitalize;
  font-weight: bolder;
}

input[type="submit"] {
  height: 29.7px;
  border: 1px solid transparent;
  border-radius: 0px 9px 9px 0px;
  color: white;
  background-color: #0065fc;
  padding: 5px 15px;
  margin-left: -6px;
  font-family: "Raleway";
  cursor: pointer;
}

.ico_search {
  color: transparent;
}

input:focus {
  outline: none;
}

.filtre {
  margin-top: 15px;
  height: 65px;
}

.filtre p {
  margin-top: 22px;
  font-weight: bold;
}

.filtre,
.filtre ul {
  display: flex;
}

.filtre li {
  margin-right: 25px;
  padding: 7.5px 20px 0px 20px;
  font-size: small;
  cursor: pointer;
  border: solid 2px #f2f2f2;
  border-radius: 20px 20px;
}

.filtre a {
  color: black;
  opacity: 0.8;
  font-weight: bold;
  text-align: center;
}

.filtre li:hover {
  background-color: #0065fc;
  transition: 10ms;
}

.filtre a:hover {
  color: white;
  font-weight: bold;
  transition: 10ms;
}

.icone_filtre_eco {
  margin-left: -22px;
  margin-right: 10px;
  color: #0065fc;
  background-color: #deebff;
  padding: 8px 8px 7px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.icone_filtre_fam {
  margin-left: -22px;
  margin-right: 10px;
  color: #0065fc;
  background-color: #deebff;
  padding: 8px 10px 7px 10px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.icone_filtre_Rom {
  margin-left: -22px;
  margin-right: 10px;
  color: #0065fc;
  background-color: #deebff;
  padding: 8px 10px 7px 10px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.icone_filtre_anim {
  margin-left: -22px;
  margin-right: 10px;
  color: #0065fc;
  background-color: #deebff;
  padding: 8px 9px 7px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.plusDe500Logem {
  /*border: 1px solid beige;*/
  height: 25px;
  display: flex;
}

.text_plusDe500 {
  font-style: normal;
  margin-top: 3px;
}

.ico_info {
  font-size: 8px;
  margin-right: 10px;
  color: #0065fc;
  background-color: white;
  padding: 5px 8px;
  border: solid 3px #f2f2f2;
  border-radius: 100%;
}

#section1 {
  display: flex;
  justify-content: space-between;
}

#section_hebergement {
  border: 1px solid transparent;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 65%;
  height: 635px;
}

.activite-hebergement_titles {
  font-size: x-large;
  margin-top: 45px;
  margin-left: 37px;
}

.article_hebergement {
  /*border: blue 1px dotted;*/
  width: 95%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 1.5em;
  margin-left: 35px;
  margin-top: 25px;
}

.article_hebergement div {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 250px;
  height: 200px;
  border-radius: 15px;
  color: black;
}

/*effets au survol sur les contenus d'img*/
.article_hebergement div::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 200ms;
  border-radius: 15px;
  background-color: #deebff;
}

.article_hebergement div:hover::after {
  transform: scaleY(1);
  transition: 350ms;
}

.blocs_aside {
  position: relative;
  z-index: 1;
}

.blocs_aside::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: 200ms;
  border-radius: 15px;
  background-color: #deebff;
}

.blocs_aside:hover::after {
  transform: scaleX(1); /*l'effet rempli tout le bloc horizontalement*/
  transition: 350ms;
}

.article_hebergement img {
  width: 96.2%;
  height: 55%;
  border-radius: 15px 15px 0px 0px;
  margin: 5px 0px 0px 5px;
  object-fit: cover;
}

.article_hebergement h2 {
  font-size: medium;
  font-weight: bolder;
  margin-top: 5px;
  margin-left: 20px;
}

.article_hebergement div p {
  font-size: smaller;
  opacity: 0.8;
  margin-top: -8px;
  margin-bottom: 3px;
  margin-left: 20px;
}

.afficherPlus {
  font-size: medium;
  font-weight: bold;
  height: 35px;
}

.article_hebergement span {
  font-size: x-small;
}

.bloc_etoiles {
  margin-left: 20px;
}

.etoiles_bleues {
  color: #0065fc;
}

.etoiles_grises {
  color: #f2f2f2;
}

.aside_hebergement {
  border: 1px solid transparent;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 32%;
  height: 635px;
}

.text_lesPlusPop {
  font-size: x-large;
  width: 60%;
  margin-left: 35px;
  margin-top: 45px;
  margin-bottom: 0px;
}

/*conténeur-aside des 3 div*/
#aside_content {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-top: -5px;
  width: 100%;
  height: auto;
}

/*blocs contenant les images*/
.blocs_aside {
  background-color: white;
  width: 83.5%;
  height: 150px;
  border-radius: 15px;
  margin-top: 1.5em;
  color: black;
}

.aside_hebergement div {
  margin-left: 35px;
}

.blocs_aside h2 {
  font-size: medium;
  font-weight: bolder;
  float: right;
  margin-right: 55px;
}

.aside_hebergement div p {
  font-size: smaller;
  opacity: 0.8;
  margin-top: -85px;
  margin-right: 51px;
  float: right;
}

.strongEuroAside {
  margin-right: 9.3px;
}

.blocs_aside img {
  width: 42%;
  height: 93.2%;
  border-radius: 15px 0px 0px 15px;
  margin: 5px 0px 0px 5px;
  object-fit: cover;
}

.bloc_etoiles_aside span {
  font-size: x-small;
  float: right;
}

/*étoiles de l'aside*/
.bloc_etoiles_aside {
  float: right;
  margin-right: 121.5px;
  margin-top: -28px;
}

.ico_chartLine {
  float: right;
  font-size: larger;
  margin-top: -23px;
  margin-right: 35px;
}

#section_activité {
  height: auto;
}

/*toute la section activité*/
#divs_activites {
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
}

#divs_activites h2 {
  font-size: small;
  margin-left: 20px;
  color: black;
}

#divs_activites div {
  border-radius: 15px;
  box-shadow: 1px 3px 6px #aca3a3;
}

.activite1 {
  height: 500px;
  grid-row: 1/3;
}

.activite1 img {
  height: 90%;
}

.activite2 {
  height: 280px;
}

.activite2 img {
  height: 82%;
}

.activite3 {
  grid-column: 2;
  grid-row: 2;
  height: 190px;
}

.activite3 img {
  height: 73%;
}

.activite4 {
  grid-column: 3;
  grid-row: 1/3;
  height: 500px;
}

.activite4 img {
  height: 90%;
}

.activite5 {
  height: 234px;
}

.activite5 img {
  height: 79%;
}

.activite6 {
  grid-column: 4;
  height: 237px;
  margin-top: -48px;
}

.activite6 img {
  height: 79%;
}

/*agencement d'images_div-activités*/
#divs_activites img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  height: auto;
}

footer div {
  margin-left: -165px;
}

footer div ul {
  margin-left: -38px;
}

footer div li {
  margin-top: 10px;
}

footer a {
  color: black;
  opacity: 0.8;
}
