@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("images/fond_jaune.png");
  font-family: "Raleway", Arial, sans-serif;
}

#pageprincipale {
  width: 1340px;
  margin: auto; /*pour centrer la page*/
}

header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  font-style: normal;
}

nav {
  font-size: 14px;
  margin-top: -22px;
}

header img {
  margin-top: -22px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #0065fc;
  display: block;
  padding: 40px 15px;
  border-top: 2px solid transparent;
}

.heberg_acti {
  color: black;
  opacity: 0.8;
}

.heberg_acti:hover {
  color: #0065fc;
  border-top: solid 2px #0065fc;
}

.sinscrire {
  font-weight: bold;
}

.h1_apres_logo {
  font-size: large;
  font-weight: bold;
}

.box {
  display: flex;
  /*border: brown 1px dotted;*/
  width: 35%;
  height: 29.5px;
}

img[alt="icone_map"] {
  width: 8px;
  border: 1px solid #f2f2f2;
  border-radius: 9px 0px 0px 9px;
  padding: 4px 9px;
  background-color: #f2f2f2;
}

input[type="text"] {
  height: 25.3px;
  border: 1px solid #f2f2f2;
  padding-left: 15px;
  font-family: "Raleway";
  font-weight: bolder;
}

input[type="submit"] {
  height: 29.7px;
  border: 1px solid #0065fc;
  border-radius: 0px 9px 9px 0px;
  color: white;
  background-color: #0065fc;
  padding: 5px 15px;
  margin-left: -6px;
  font-family: "Raleway";
  cursor: pointer;
}

input:focus {
  outline: none;
}

.filtre {
  margin-top: 15px;
  height: 65px;
}

.filtre p {
  margin-top: 22px;
  font-weight: bold;
}

.filtre,
.filtre ul {
  display: flex;
}

.filtre li {
  margin-right: 25px;
  padding: 7.5px 20px 0px 20px;
  font-size: small;
  cursor: pointer;
  border: solid 2px #f2f2f2;
  border-radius: 20px 20px;
}

.filtre a {
  color: black;
  opacity: 0.8;
  font-weight: bold;
  text-align: center;
}

.filtre li:hover {
  background-color: #0065fc;
  transition: 10ms;
}

.filtre a:hover {
  color: white;
  font-weight: normal;
  transition: 10ms;
}

.icone_filtre_eco {
  margin-left: -22px;
  margin-right: 10px;
  color: #0065fc;
  background-color: #deebff;
  padding: 8px 8px 7px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.icone_filtre_fam {
  margin-left: -22px;
  margin-right: 10px;
  color: #0065fc;
  background-color: #deebff;
  padding: 8px 10px 7px 10px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.icone_filtre_Rom {
  margin-left: -22px;
  margin-right: 10px;
  color: #0065fc;
  background-color: #deebff;
  padding: 8px 10px 7px 10px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.icone_filtre_anim {
  margin-left: -22px;
  margin-right: 10px;
  color: #0065fc;
  background-color: #deebff;
  padding: 8px 9px 7px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.plusDe500Logem {
  /*border: 1px solid beige;*/
  height: 25px;
  display: flex;
}

.text_plusDe500 {
  font-style: normal;
  margin-top: 3px;
}

.ico_info {
  font-size: 8px;
  margin-right: 10px;
  color: #0065fc;
  background-color: white;
  padding: 5px 8px;
  border: solid 3px #f2f2f2;
  border-radius: 100%;
}

#section1 {
  display: flex;
  justify-content: space-between;
}

#section_hebergement {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 65%;
  height: 635px;
}

#section_hebergement > h1 {
  font-weight: bold;
  font-size: x-large;
  width: 40%;
  margin-top: 45px;
  margin-left: 35px;
}

.article_hebergement {
  /*border: blue 1px dotted;*/
  width: 95%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 1.5em;
  grid-auto-rows: 12.5em;
  margin-left: 35px;
  margin-top: 25px;
}

.article_hebergement div {
  background-color: white;
  width: 250px;
  height: 200px;
  border-radius: 15px;
}

.article_hebergement img {
  width: 96.2%;
  height: 55%;
  border-radius: 15px 15px 0px 0px;
  margin: 5px 0px 0px 5px;
}

.article_hebergement h2 {
  font-size: medium;
  font-weight: bolder;
  margin-top: 5px;
  margin-left: 20px;
}

.article_hebergement div p {
  font-size: smaller;
  opacity: 0.8;
  margin-top: -8px;
  margin-bottom: 3px;
  margin-left: 20px;
}

.afficherPlus {
  font-size: medium;
  font-weight: bold;
  height: 35px;
}

.article_hebergement span {
  font-size: x-small;
}

.bloc_etoiles {
  margin-left: 20px;
}

.etoiles_bleues {
  color: #0065fc;
}

.etoiles_grises {
  color: #f2f2f2;
}

.aside_hebergement {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 30%;
  height: 635px;
}
